<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-4 text-start">Editar</h2>
        <form @submit.prevent="guardarEntidad">
          <div class="mb-3 d-flex">
            <label for="firstName" class="form-label font-weight-bold me-3">Nombres:</label>
            <input type="text" id="firstName" v-model="this.entity.firstName" class="form-control" required>
          </div>

          <div class="mb-3 d-flex">
            <label for="lastName" class="form-label font-weight-bold me-3">Apellidos:</label>
            <input type="text" id="lastName" v-model="this.entity.lastName" class="form-control" required>
          </div>

          <div class="mb-3 d-flex">
            <label for="address" class="form-label font-weight-bold me-3">Dirección:</label>
            <input type="text" id="address" v-model="this.entity.address" class="form-control" required>
          </div>

          <div class="mb-3 d-flex">
            <label for="email" class="form-label font-weight-bold me-3">Email:</label>
            <input type="text" id="email" v-model="this.entity.email" class="form-control" required>
          </div>

          <div class="mb-3 d-flex">
            <label for="phoneNumber" class="form-label font-weight-bold me-3">Teléfono:</label>
            <input type="text" id="phoneNumber" v-model="this.entity.phoneNumber" class="form-control" required>
          </div>
          <div class="mb-3 d-flex">
            <button type="submit" class="btn btn-primary me-1">Guardar</button>
            <button type="button" class="btn btn-danger" @click="cancelar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { USER_ITEM } from '@/entities';

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      entity: JSON.parse(JSON.stringify(USER_ITEM))
    };
  },
  mounted() {
    this.obtenerEntidad(this.id);
  },
  methods: {
    obtenerEntidad(id) {
      axios.get(`http://localhost:5111/api/Users/GetUser/${id}`)
        .then(response => {
          this.entity = response.data;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },
    guardarEntidad() {
      axios.put(`http://localhost:5111/api/Users/Modify/`, this.entity)
        .then(response => {
          console.log('Respuesta:', response.data);
          this.$emit('actualizar-lista');
          this.$router.push('/users');
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },
    cancelar() {
      this.$router.push('/users');
    }
  }
}
</script>

<style scoped>
label {
  min-width: 180px;
    text-align: right;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
</style>
