<template>
    <div>
        <TableData :headerName="headerName" :columns="columns" :urlItems="urlItems" :createItem="createItem" :editItem="editItem" :deleteItem="deleteItem" />
    </div>
</template>

<script>
import TableData from  '@/components/Generic/TableData.vue';

export default {
    components: { 
        TableData
    },
    data() {
        return {
            headerName: 'Usuarios',
            columns: [
                { key: 'id', label: 'ID' },
                { key: 'fullName', label: 'Nombre Completo' },
                { key: 'email', label: 'Correo Electrónico' }
            ]
        }
    },
    methods: {
        urlItems() {
            return 'http://localhost:5111/api/Users/GetUsers';
        },
        createItem() {
            return '/cuser';
        },
        editItem(categoria) {
            this.$router.push({ path: `/uuser/${categoria.id}` });
        },
        deleteItem(id) {
            this.$router.push({ path: `/duser/${id}` });
        }
    }
}
</script>
