<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-4 text-start">Editar</h2>
        <form @submit.prevent="guardarEntidad">
          <div class="mb-3 row">
            <label for="id" class="col-sm-2 col-form-label font-weight-bold text-end">ID:</label>
            <div class="col-sm-10">
              <input type="text" id="id" class="form-control" :value="this.entity.id" readonly>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="nombre" class="col-sm-2 col-form-label font-weight-bold text-end">Nombre:</label>
            <div class="col-sm-10">
              <input type="text" id="nombre" v-model="this.entity.name" class="form-control" required>
            </div>
          </div>
          <div class="mb-3 d-flex">
            <button type="submit" class="btn btn-primary me-1">Guardar</button>
            <button type="button" class="btn btn-danger" @click="cancelar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { GENRE_ITEM } from '../../entities';

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      entity: JSON.parse(JSON.stringify(GENRE_ITEM))
    };
  },
  mounted() {
    this.obtenerEntidad(this.id);
  },
  methods: {
    obtenerEntidad(id) {
      // Obtener los datos por ID
      axios.get(`http://localhost:5111/api/Genres/GetGenre/${id}`)
        .then(response => {
          // Asignar los datos obtenidos del servidor a la propiedad
          this.entity = response.data;
        })
        .catch(error => {
          console.error('Error al obtener la categoría:', error);
        });
    },
    guardarEntidad() {
      axios.put(`http://localhost:5111/api/Genres/Modify/`, this.entity)
        .then(response => {
          console.log('Respuesta:', response.data);
          this.$emit('actualizar-lista');
          this.$router.push('/genres');
        })
        .catch(error => {
          console.error('Error al editar:', error);
        });
    },
    cancelar() {
      this.$router.push('/genres');
    }
  }
}
</script>

<style scoped>
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
</style>
