<template>
    <div>
        <TableData :headerName="headerName" :columns="columns" :urlItems="urlItems" :createItem="createItem" :editItem="editItem" :deleteItem="deleteItem" />
    </div>
</template>

<script>
import TableData from  '@/components/Generic/TableData.vue';

export default {
    components: { 
        TableData
    },
    data() {
        return {
            headerName: 'Géneros',
            columns: [
                { key: 'id', label: 'ID' },
                { key: 'name', label: 'Nombre' }
            ]
        }
    },
    methods: {
        urlItems() {
            return 'http://localhost:5111/api/Genres/GetGenres';
        },
        createItem() {
            return '/cgenre';
        },
        editItem(categoria) {
            this.$router.push({ path: `/ugenre/${categoria.id}` });
        },
        deleteItem(id) {
            this.$router.push({ path: `/dgenre/${id}` });
        }
    }
}
</script>
