<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-4 text-start">Nuevo</h2>
        <form @submit.prevent="guardarEntidad">
          <div class="mb-3 d-flex">
            <label for="title" class="form-label font-weight-bold me-3">Título:</label>
            <input type="text" id="title" v-model="this.entity.title" class="form-control" required>
          </div>
          <div class="mb-3 d-flex">
            <label for="publicationYear" class="form-label font-weight-bold me-3">Año de Publicación:</label>
            <input type="text" id="publicationYear" v-model="this.entity.publicationYear" class="form-control" required>
          </div>
          <div class="mb-3 d-flex">
            <label for="author" class="form-label font-weight-bold me-3">Autor:</label>
            <select type="text" id="author" v-model="this.entity.author.id" class="form-select" required>
              <option v-for="option in options1" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="mb-3 d-flex">
            <label for="genre" class="form-label font-weight-bold me-3">Género:</label>
            <select type="text" id="genre" v-model="this.entity.genre.id" class="form-select" required>
              <option v-for="option in options2" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="mb-3 d-flex">
            <button type="submit" class="btn btn-primary me-1">Guardar</button>
            <button type="button" class="btn btn-danger" @click="cancelar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>


<script>
import axios from 'axios';
import { BOOK_ITEM } from '@/entities';

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      options1: [],
      options2: [],
      entity: JSON.parse(JSON.stringify(BOOK_ITEM))
    };
  },
  async mounted() {
    this.entity.publicationYear = "";
    this.obtenerEntidad(this.id);
    // Autores
    const response1 = await axios.get('http://localhost:5111/api/Authors/GetAuthors');
    this.options1 = response1.data.map(item => ({ value: item.id, text: item.fullName }));
    // Generos
    const response2 = await axios.get('http://localhost:5111/api/Genres/GetGenres');
    this.options2 = response2.data.map(item => ({ value: item.id, text: item.name }));
  },
  methods: {
    obtenerEntidad(id) {
      // Obtener los datos por ID
      axios.get(`http://localhost:5111/api/Books/GetBook/${id}`)
        .then(response => {
          // Asignar los datos obtenidos del servidor a la propiedad
          this.entity = response.data;
        })
        .catch(error => {
          console.error('Error al obtener la categoría:', error);
        });
    },
    guardarEntidad() {
      // Campos requeridos por API
      this.entity.author.firstName = "";
      this.entity.author.lastName = "";
      this.entity.genre.name = "";

      // Se ejecuta la modificación
      axios.put(`http://localhost:5111/api/Books/Modify/`, this.entity)
        .then(response => {
          console.log('Respuesta:', response.data);
          this.$emit('actualizar-lista');
          this.$router.push('/books');
        })
        .catch(error => {
          console.error('Error al editar la categoría:', error);
        });
    },
    cancelar() {
      this.$router.push('/books');
    }
  }
}
</script>

<style scoped>
label {
  min-width: 180px;
  text-align: right;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
</style>
