<template>
    <div>
        <TableData :headerName="headerName" :columns="columns" :urlItems="urlItems" :createItem="createItem" :editItem="editItem" :deleteItem="deleteItem" />
    </div>
</template>

<script>
import TableData from  '@/components/Generic/TableData.vue';

export default {
    components: { 
        TableData
    },
    data() {
        return {
            headerName: 'Libros',
            columns: [
                { key: 'id', label: 'ID' },
                { key: 'title', label: 'Título' },
                { key: 'author.fullName', label: 'Autor' },
                { key: 'publicationYear', label: 'Fecha de Publicación' },
            ]
        }
    },
    methods: {
        urlItems() {
            return 'http://localhost:5111/api/Books/GetBooks';
        },
        createItem() {
            return '/cbook';
        },
        editItem(categoria) {
            this.$router.push({ path: `/ubook/${categoria.id}` });
        },
        deleteItem(id) {
            this.$router.push({ path: `/dbook/${id}` });
        }
    }
}
</script>
