<template>
    <div>
        <h2>Eliminar</h2>
        <p>¿Estás seguro de que deseas eliminar el registro No. {{ this.entity.id }}?</p>
        <form @submit.prevent="eliminarEntidad">
            <button type="submit" class="btn btn-primary">Eliminar</button>
            <button type="button" @click="cancelar" class="btn btn-danger">Cancelar</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios';
import { LOAN_ITEM } from '@/entities';

export default {
    props: {
        id: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            entity: JSON.parse(JSON.stringify(LOAN_ITEM))

        };
    },
    mounted() {
        this.obtenerEntidad(this.id);
    },
    methods: {
        obtenerEntidad(id) {
      axios.get(`http://localhost:5111/api/Loans/GetLoan/${id}`)
        .then(response => {
          this.entity = response.data;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },
        eliminarEntidad() {
            axios.delete(`http://localhost:5111/api/Loans/Remove/${this.entity.id}`)
                .then(response => {
                    console.log('Respuesta:', response.data);
                    this.$emit('actualizar-lista');
                    this.$router.push('/loans');
                })
                .catch(error => {
                    console.error('Error al eliminar la categoría:', error);
                });

        },
        cancelar() {
            this.$router.push('/loans');
        }
    }
}
</script>

<style scoped>
h2 {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}
</style>