<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-4 text-start">Editar</h2>
        <form @submit.prevent="guardarEntidad">
          <div class="mb-3 d-flex">
            <label for="loanDate" class="form-label font-weight-bold me-3">Fecha de Préstamo:</label>
            <input type="date" id="loanDate" v-model="this.entity.loanDate" class="form-control" required>
          </div>
          <div class="mb-3 d-flex">
            <label for="returnDate" class="form-label font-weight-bold me-3">Fecha de Retorno:</label>
            <input type="date" id="returnDate" v-model="this.entity.returnDate" class="form-control" required>
          </div>
          <div class="mb-3 d-flex">
            <label for="user" class="form-label font-weight-bold me-3">Usuario:</label>
            <select type="text" id="user" v-model="this.entity.user.id" class="form-select" required>
              <option v-for="option in options1" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="mb-3 d-flex">
            <label for="book" class="form-label font-weight-bold me-3">Libro:</label>
            <select type="text" id="book" v-model="this.entity.book.id" class="form-select" required>
              <option v-for="option in options2" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="mb-3 d-flex">
            <button type="submit" class="btn btn-primary me-1">Guardar</button>
            <button type="button" class="btn btn-danger" @click="cancelar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { LOAN_ITEM } from '@/entities';

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      entity: JSON.parse(JSON.stringify(LOAN_ITEM))

    };
  },
  async mounted() {

    this.entity.returnDate = "";
    this.entity.loanDate = "";
    // Autores
    const response1 = await axios.get('http://localhost:5111/api/Users/GetUsers');
    this.options1 = response1.data.map(item => ({ value: item.id, text: item.fullName }));
    // Generos
    const response2 = await axios.get('http://localhost:5111/api/Books/GetBooks');
    this.options2 = response2.data.map(item => ({ value: item.id, text: item.title }));

    // Se hace la busqueda posterior a la carga de los datos de los dropdowns
    this.obtenerEntidad(this.id);

  },
  methods: {
    obtenerEntidad(id) {
      axios.get(`http://localhost:5111/api/Loans/GetLoan/${id}`)
        .then(response => {
          this.entity = response.data;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },
    guardarEntidad() {
      // Campos requeridos por API
      this.entity.user.firstName = "";
      this.entity.user.lastName = "";
      this.entity.user.address = "";
      this.entity.user.email = "";
      this.entity.user.phoneNumber = "";
      this.entity.book.title = "";
      this.entity.book.author = { firstName: "", lastName: "" };
      this.entity.book.genre = { name: "" };

      axios.put(`http://localhost:5111/api/Loans/Modify/`, this.entity)
        .then(response => {
          console.log('Respuesta:', response.data);
          this.$emit('actualizar-lista');
          this.$router.push('/loans');
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },
    cancelar() {
      this.$router.push('/loans');
    }
  }
}
</script>

<style scoped>
label {
  min-width: 180px;
  text-align: right;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
</style>
