<template>
    <div>
        <TableData :headerName="headerName" :columns="columns" :urlItems="urlItems" :createItem="createItem" :editItem="editItem" :deleteItem="deleteItem" />
    </div>
</template>

<script>
import TableData from  '@/components/Generic/TableData.vue';

export default {
    components: { 
        TableData
    },
    data() {
        return {
            headerName: 'Préstamos',
            columns: [
                { key: 'id', label: 'ID' },
                { key: 'loanDate', label: 'Fecha de Préstamo' },
                { key: 'book.title', label: 'Libro' },
                { key: 'user.fullName', label: 'Usuario' },
                { key: 'returnDate', label: 'Fecha de Retorno' },
            ]
        }
    },
    methods: {
        urlItems() {
            return 'http://localhost:5111/api/Loans/GetLoans';
        },
        createItem() {
            return '/cloan';
        },
        editItem(categoria) {
            this.$router.push({ path: `/uloan/${categoria.id}` });
        },
        deleteItem(id) {
            this.$router.push({ path: `/dloan/${id}` });
        }
    }
}
</script>
