<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4 text-start">Nuevo</h2>
                <form @submit.prevent="crearEntidad">
                    <div class="mb-3 d-flex">
                        <label for="nombre" class="form-label font-weight-bold me-3">Nombre:</label>
                        <input type="text" id="nombre" v-model="this.entity.name" class="form-control" required>
                    </div>
                    <div class="mb-3 d-flex">
                        <label for="nombre" class="form-label font-weight-bold me-3">Código de Área:</label>
                        <input type="text" id="nombre" v-model="this.entity.areaCode" class="form-control" required>
                    </div>
                    <div class="mb-3 d-flex">
                        <label for="nombre" class="form-label font-weight-bold me-3">Código ISO:</label>
                        <input type="text" id="nombre" v-model="this.entity.isoCode" class="form-control" required>
                    </div>
                    <div class="mb-3 d-flex">
                        <button type="submit" class="btn btn-primary me-1">Guardar</button>
                        <button type="button" class="btn btn-danger" @click="cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios';
import { COUNTRY_ITEM } from '@/entities';

export default {
    data() {
        return {
            entity: JSON.parse(JSON.stringify(COUNTRY_ITEM))
        }
    },
    methods: {
        crearEntidad() {
            axios.post(`http://localhost:5111/api/Country/Registry/`, this.entity)
                .then(response => {
                    console.log('Respuesta:', response.data);
                    this.$emit('actualizar-lista');
                    this.$router.push('/countries');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        },
        cancelar() {
            this.$router.push('/countries');
        }
    }
}
</script>


<style scoped>
label {
    min-width: 180px;
    text-align: right;
}
</style>