<template>
  <div id="app">
    <!-- Menú de navegación -->
    <MenuNavegacion />
    
    <!-- Contenido dinámico -->
    <div class="container mt-4">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import MenuNavegacion from '@/components/Generic/MenuNavegacion.vue';

export default {
  name: 'App',
  components: {
    MenuNavegacion
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>


<!-- <template>
  <div id="app">
    <router-view :categorias="categorias" 
      @actualizar-lista="fetchCategorias" 
    />
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'App',
  data() {
    return {
      categorias: []
    }
  },
  mounted() {
    this.fetchCategorias();
  },
  methods: {
    fetchCategorias() {
      axios.get('http://localhost:5111/api/Genres/GetGenres')
        .then(response => {
          this.categorias = response.data;
        })
        .catch(error => {
          console.error('Error al obtener las categorías:', error);
        });
    }
  }
}
</script>

 -->
