<template>
    <div>
        <h2>Eliminar</h2>
        <p>¿Estás seguro de que deseas eliminar el registro {{ this.entity.fullName }}?</p>
        <form @submit.prevent="eliminarEntidad">
            <button type="submit" class="btn btn-primary">Eliminar</button>
            <button type="button" @click="cancelar" class="btn btn-danger">Cancelar</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios';
import { AUTHOR_ITEM } from '../../entities';

export default {
    props: {
        id: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            entity: JSON.parse(JSON.stringify(AUTHOR_ITEM))
        };
    },
    mounted() {
        this.obtenerEntidad(this.id);
    },
    methods: {
        obtenerEntidad(id) {
            axios.get(`http://localhost:5111/api/Authors/GetAuthor/${id}`)
                .then(response => {
                    this.entity = response.data;
                })
                .catch(error => {
                    console.error('Error al obtener la categoría:', error);
                });
        },
        eliminarEntidad() {
            axios.delete(`http://localhost:5111/api/Authors/Remove/${this.entity.id}`)
                .then(response => {
                    console.log('Respuesta:', response.data);
                    this.$emit('actualizar-lista');
                    this.$router.push('/authors');
                })
                .catch(error => {
                    console.error('Error al eliminar la categoría:', error);
                });

        },
        cancelar() {
            this.$router.push('/authors');
        }
    }
}
</script>

<style scoped>
h2 {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}
</style>