<template>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h2 class="mb-4 text-start">Editar</h2>
              <form @submit.prevent="guardarEntidad">
                  <div class="mb-3 d-flex">
                      <label for="firstName" class="form-label font-weight-bold me-3">Nombres:</label>
                      <input type="text" id="firstName" v-model="this.entity.firstName" class="form-control" required>
                  </div>
                  <div class="mb-3 d-flex">
                      <label for="lastname" class="form-label font-weight-bold me-3">Apellidos:</label>
                      <input type="text" id="lastname" v-model="this.entity.lastName" class="form-control" required>
                  </div>
                  <div class="mb-3 d-flex">
                      <label for="birthday" class="form-label font-weight-bold me-3">Fecha de Nacimiento:</label>
                      <input type="date" id="birthday" v-model="this.entity.birthday" class="form-control" required>
                  </div>
                  <div class="mb-3 d-flex">
                      <label for="country" class="form-label font-weight-bold me-3">País:</label>
                      <select type="text" id="country" v-model="this.entity.country.id" class="form-control" required>
                          <option v-for="option in options" :key="option.value" :value="option.value">
                              {{ option.text }}
                          </option>
                      </select>
                  </div>
                  <div class="mb-3 d-flex">
                      <div class="ms-auto">
                          <button type="button" class="btn btn-danger me-1" @click="cancelar">Cancelar</button>
                          <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</template>

<script>
import { AUTHOR_ITEM } from '../../entities';
import axios from 'axios';

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      options: [],
      entity: JSON.parse(JSON.stringify(AUTHOR_ITEM))
    };
  },
  async mounted() {
        this.obtenerEntidad(this.id);
        const response = await axios.get('http://localhost:5111/api/Country/GetCountries');
        this.options = response.data.map(country => ({ value: country.id, text: country.name }));
    },
  methods: {
    obtenerEntidad(id) {
      // Obtener los datos por ID
      axios.get(`http://localhost:5111/api/Authors/GetAuthor/${id}`)
        .then(response => {
          // Asignar los datos obtenidos del servidor a la propiedad
          this.entity = response.data;
        })
        .catch(error => {
          console.error('Error al obtener la categoría:', error);
        });
    },
    guardarEntidad() {
      this.entity.country.name = ""; // Este campo es requerido por el servidor 
      
      // Se envia la modificacion del objeto
      axios.put(`http://localhost:5111/api/Authors/Modify/`, this.entity)
        .then(response => {
          console.log('Respuesta:', response.data);
          // Actualizar la lista de items y redirigir a la pantalla principal
          this.$emit('actualizar-lista');
          this.$router.push('/authors');
        })
        .catch(error => {
          console.error('Error al editar la categoría:', error);
        });
    },
    cancelar() {
      this.$router.push('/authors');
    }
  }
}
</script>

<style scoped>
label {
  min-width: 180px;
    text-align: right;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
</style>
