<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4 text-start">Nuevo</h2>
                <form @submit.prevent="crearEntidad">
                    <div class="mb-3 d-flex">
                        <label for="firstName" class="form-label font-weight-bold me-3">Nombres:</label>
                        <input type="text" id="firstName" v-model="this.entity.firstName" class="form-control" required>
                    </div>
                    <div class="mb-3 d-flex">
                        <label for="lastname" class="form-label font-weight-bold me-3">Apellidos:</label>
                        <input type="text" id="lastname" v-model="this.entity.lastName" class="form-control" required>
                    </div>
                    <div class="mb-3 d-flex">
                        <label for="birthday" class="form-label font-weight-bold me-3">Fecha de Nacimiento:</label>
                        <input type="date" id="birthday" v-model="this.entity.birthday" class="form-control" required>
                    </div>
                    <div class="mb-3 d-flex">
                        <label for="country" class="form-label font-weight-bold me-3">País:</label>
                        <select type="text" id="country" v-model="this.entity.country.id" class="form-select" required>
                            <option v-for="option in options" :key="option.value" :value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3 d-flex">
                        <div class="ms-auto">
                            <button type="button" class="btn btn-danger me-1" @click="cancelar">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios';
import { AUTHOR_ITEM } from '../../entities'

export default {
    data() {
        return {
            options: [],
            entity: JSON.parse(JSON.stringify(AUTHOR_ITEM)) 
        }
    },
    async mounted() {
        this.entity.birthday = "";
        const response = await axios.get('http://localhost:5111/api/Country/GetCountries');
        this.options = response.data.map(country => ({ value: country.id, text: country.name }));
    },
    methods: {
        crearEntidad() {
            
            axios.post(`http://localhost:5111/api/Authors/Registry/`, this.entity)
                .then(response => {
                    console.log('Respuesta:', response.data);
                    this.$emit('actualizar-lista');
                    this.$router.push('/authors');
                })
                .catch(error => {
                    console.error('Error al editar la categoría:', error);
                });
        },
        cancelar() {
            this.$router.push('/authors');
        }
    }
}
</script>


<style scoped>
label {
    min-width: 180px;
    text-align: right;
}
</style>