<template>
    <div>
        <TableData :headerName="headerName" :columns="columns" :urlItems="urlItems" 
            :createItem="createItem" :editItem="editItem" :deleteItem="deleteItem" />
    </div>
</template>

<script>
import TableData from '@/components/Generic/TableData.vue';

export default {
    components: {
        TableData
    },
    data() {
        return {
            headerName: 'Autores',
            columns: [
                { key: 'id', label: 'ID' },
                { key: 'fullName', label: 'Nombre Completo' },
                { key: 'birthday', label: 'Fecha de Nacimiento' },
            ]
        }
    },
    methods: {
        urlItems() {
            return 'http://localhost:5111/api/Authors/GetAuthors';
        },
        createItem() {
            return '/cauthor';
        },
        editItem(item) {
            console.log(item);
            this.$router.push({ path: `/uauthor/${item.id}` });
        },
        deleteItem(id) {
            this.$router.push({ path: `/dauthor/${id}` });
        }
    }
}
</script>
