<template>
    <div id="app">
      <div class="container mt-4">
        <h1>Bienvenido!</h1>
        <p>Navega por los distintos menús para visualizar los libros y hacer el préstamo virtual.</p>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name: 'PaginaInicio'
  };
  </script>
  
  <style>

  </style>
  