<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <router-link class="navbar-brand" to="/">Inicio</router-link>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link class="nav-link" to="/genres">Géneros</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/users">Usuarios</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/countries">Países</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/authors">Autores</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/books">Libros</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/loans">Préstamos</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </template>
  
  <script>
  export default {
    name: 'MenuNavegacion'
  };
  </script>
  
  <style scoped>
  /* Estilos opcionales para el menú */
  </style>
  