<template>
    <div>
        <div class="d-flex align-items-center justify-content-center">
            <h1 class="me-3">{{ headerName }}</h1>
            <router-link :to="crearItem()" class="btn btn-primary">
                <i class="fa fa-plus"></i>
            </router-link>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" v-for="column in columns" :key="column.key">{{ column.label }}</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in paginatedData" :key="item.id">
                    <td v-for="column in columns" :key="column.key">{{  get(item, column.key) }}</td>
                    <td>
                        <button @click="editarItem(item)" class="btn btn-warning me-1">Editar</button>
                        <button @click="eliminarItem(item.id)" class="btn btn-danger">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item" :class="{ 'disabled': currentPage === 0 }">
                    <a class="page-link" href="#" @click.prevent="currentPage--">Anterior</a>
                </li>
                <li class="page-item" v-for="page in pagesToShow" :key="page"
                    :class="{ 'active': currentPage === page }">
                    <a class="page-link" href="#" @click.prevent="currentPage = page">{{ page + 1 }}</a>
                </li>
                <li class="page-item" :class="{ 'disabled': currentPage === numberOfPages - 1 }">
                    <a class="page-link" href="#" @click.prevent="currentPage++">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>

import axios from 'axios';
import { get } from 'lodash';

export default {
    props: {
        headerName: {
            type: String,
            required: true
        },
        columns: {
            type: Array,
            required: true
        },
        urlItems: {
            type: String,
            required: true
        },
        createItem: {
            type: Function,
            required: true
        },
        editItem: {
            type: Function,
            required: true
        },
        deleteItem: {
            type: Function,
            required: true
        }
    },
    mounted() {
        axios.get(this.urlItems()).then(response => {
            this.items = response.data;
        }).catch(error => {
            console.error('Error al obtener las categorías:', error);
        });

    },
    data() {
        return {
            items: [],
            currentPage: 0,
            itemsPerPage: 8 
        }
    },
    computed: {
        pagesToShow() {
            const range = 6; // El rango de páginas que quieres mostrar alrededor de la página actual
            const start = Math.max(this.currentPage - range, 0);
            const end = Math.min(start + 2 * range + 1, this.numberOfPages);
            return Array.from({ length: end - start }, (v, k) => k + start);
        },
        numberOfPages() {
            return Math.ceil(this.items.length / this.itemsPerPage);
        },
        paginatedData() {
            const start = this.currentPage * this.itemsPerPage;
            const end = start + this.itemsPerPage;
            return this.items.slice(start, end);
        }
    },
    methods: {
        get,
        crearItem() {
            return this.createItem();
        },
        editarItem(item) {
            this.editItem(item);
        },
        eliminarItem(id) {
            this.deleteItem(id);
        }
    }
}
</script>


<style scoped>
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
</style>